<h1>Nuevo Edificio</h1>

<%= form_with(model: @edificio,id: 'formulario_edificio',url: crear_edificios_path, local: true) do |f| %>
	<%= render 'formulario', edificio: @edificio, f: f %>
<% end %>
<%= link_to "Regresar", inicio_edificios_path %>