<h1>Editar Asociaciones</h1>

<%= form_with(model: @asociacion,id: 'formulario_asociacion',url: actualizar_asociaciones_path, local: true) do |f| %>
	<%= render 'formulario', asociacion: @asociacion, f: f %>
<% end %>
<%= link_to "Regresar", inicio_asociaciones_path %>