<h1>Editar Presidentes</h1>

<%= form_with(model: @presidente,id: 'formulario_presidente',url: actualizar_presidentes_path, local: true) do |f| %>
	<%= render 'formulario', presidente: @presidente, f: f %>
<% end %>
<%= link_to "Regresar", inicio_presidentes_path %>