<h1>Nueva Persona</h1>

<%= form_with(model: @persona,id: 'formulario_persona',url: crear_personas_path, local: true) do |f| %>
	<%= render 'formulario', persona: @persona, f: f %>
<% end %>
<%= link_to "Regresar", inicio_personas_path %>