<h1>Nuevo Coordinador</h1>

<%= form_with(model: @coordinador,id: 'formulario_coordinador',url: crear_coordinadores_path, local: true) do |f| %>
	<%= render 'formulario', coordinador: @coordinador, f: f %>
<% end %>
<%= link_to "Regresar", inicio_coordinadores_path %>